ul{
    list-style-type:decimal;
}

.task1{
    height: 50px;
    width: 100%;
    background-color:aqua;
    font-size: 25px;
}

.task2{
    height: 50px;
    width: 100%;
    background-color:aqua;
    font-size: 25px;
}

.task3{
    height: 50px;
    width: 100%;
    background-color:aqua;
    font-size: 25px;
}

.task4{
    height: 50px;
    width: 100%;
    background-color:aqua;
    font-size: 25px;
}

.task5{
    height: 50px;
    width: 100%;
    background-color:aqua;
    font-size: 25px;
}